@import '../../styles/mixins.scss';

.container__row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: inherit;
    grid-auto-rows: auto;

    @include xsmall {
        grid-template-columns: repeat(4, 1fr);
    }

    @include small {
        grid-template-columns: repeat(4, 1fr);
    }

    @include medium {
        grid-template-columns: repeat(8, 1fr);
    }

    @include large {
        grid-template-columns: repeat(12, 1fr);
    }

    @include xlarge {
        grid-template-columns: repeat(12, 1fr);
    }
}