@import '../../styles/variables.scss';

.container {
    padding: 0 $base-padding;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    &.container--flexible {
        padding: 0;
        justify-content: center;
    }

    &.container--full {
        padding: 0;
    }
}