@import '../../styles/colours.scss';
@import '../../styles/mixins.scss';

.grids {
    .grid {
        background-color: white;
    }

    .fixed {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: $padding-colour; 
            width: 15px;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            background-color: $padding-colour; 
            width: 15px;
        }
    }

    .flexible {
        background-color: $padding-colour;

        & > .container__row {
            background-color: white;
        }
    }

    .red {
        border: red dashed 1px;
    }

    .blue {
        border: blue dashed 1px;
    }

    .row__column.centered {
        @include xlarge {
            @include span(5 , 9)
        }

        @include large {
            @include span(5 , 9)
        }

        @include medium {
            @include span(3 , 7)
        }

        @include small {
            @include span(2 , 4)
        }

        @include xsmall {
            @include span(2 , 4)
        }
    }
}